.button-style {
    padding: 8px 16px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 12px !important;
    border: 1px solid var(--main_gray);
    width: 45% !important;
  }
  .selected-button{
    border:unset !important;
    background-color:var(--primary) !important;
    color: var(--white) !important;
  }
  